input {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    color: white;
    height: 30px;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    color: black;
    height: 30px;
    width: 30px;
    font-size: 14pt;
    cursor: pointer;
}
