@font-face {
    font-family: dm-sans;
    src: url(assets/fonts/DMSans-VariableFont.ttf);
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: dm-sans, sans-serif;
}
